<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>Document</title>
</head>
<body>
    <div class="LoginCard">
        <input type="text" class="usrname" id="userinput" placeholder="Username">
        <input type = "text" class="email" id = "emailInput" placeholder="Email">
        <input type="password" class="password" id="passinput" placeholder="Password">
        <input type = "password" class = "password" id = "confirmPassInput" placeholder="confirm Password">
        <input type="button" value="Create Account" id=signUpBtn class="signUpBtn">  
        
        <div class ='existingMember'> 
             Already have an account?
            <a href="/signin">Sign in</a>   
        </div>
              
    </div>

<script src="/JS/signupScript.js"></script>


</body>
</html>