<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>Document</title>
</head>
<body>
    <div class="LoginCard">
        <input type="text" class="usrname" id="userinput" placeholder="Username">
        <input type="password" class="password" id="passinput" placeholder="Password">
        <input type="button" value="Sign in" id=signinBtn class="signinBtn">  
        <input type="button" value="Join" id=CreateAccBtn class="createAccBtn">  
        
    </div>
    
    <script type="module" src="/JS/signinScript.js"></script>
</body>
</html>